.entry-box {
	text-align: center;
	padding: 50px 0;
	background: #18bc9c;
	color: #fff;
	margin: 120px 0 20px;
}
.entry-box h1 {
	font-size: 40px;
	line-height: 44px;
	margin: 0 0 20px;
}
.box {
	height: 200px;
	background: #000;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
}
.box p {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 25px;
	margin: auto;
}
.box.white {
	background: #fff;
	border: 1px solid #000;
}
.box.yellow {
	background:#55f;
	color:yellow;
}
.box.gray {
	background:#999;
}
.examples h2 {
	text-align: center;
	margin: 0 0 30px;
}